/* @import url('https://fonts.googleapis.com/css?family=Instrument&display=swap'); */

body {
    display: flex;
    flex-direction: row;
    background-image: url("images/yuriy-kovalev-nN1HSDtKdlw-unsplash.jpg");
    background-size: cover;
    background-color: black;
    height: 100vh;
    width: 100vw;
    padding: 0px;
    margin: 0px;
}
.navbar {
    display: flex;
    flex-direction: row;
    background-color: transparent;
    width: 100%;
    height: 10%;
}

.siteLinks {
    display: flex;
    flex-direction: row;
    gap: 5px;
}
.content {
    display: flex;
    width: 85%;
    height: 100%;
}